<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DUNameplateGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DUNameplateGUI.Properties.Settings>
            <setting name="xOffsetSet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yOffsetSet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lineSpaceingSet" serializeAs="String">
                <value>0.145</value>
            </setting>
            <setting name="charSpaceingSet" serializeAs="String">
                <value>0.105</value>
            </setting>
            <setting name="serialOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoPrintQueue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="resetJigAfterQueueCompletes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectedJig" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="resetJigAfterIdle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="idleTimeBeforeReset" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="inputFixingRules" serializeAs="String">
                <value />
            </setting>
            <setting name="speedDialPlates" serializeAs="String">
                <value />
            </setting>
            <setting name="serialPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="savedJigs" serializeAs="String">
                <value />
            </setting>
        </DUNameplateGUI.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>