<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DUNameplateGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DUNameplateGUI.Properties.Settings>
            <setting name="xOffsetSet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yOffsetSet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="plateSpaceingSet" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="lineSpaceingSet" serializeAs="String">
                <value>0.145</value>
            </setting>
            <setting name="charSpaceingSet" serializeAs="String">
                <value>0.095</value>
            </setting>
            <setting name="serialOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoPrintQueue" serializeAs="String">
                <value>True</value>
            </setting>
        </DUNameplateGUI.Properties.Settings>
    </userSettings>
</configuration>