<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DUNameplateGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DUNameplateGUI.Properties.Settings>
            <setting name="xOffsetSet" serializeAs="String">
                <value>1.8</value>
            </setting>
            <setting name="yOffsetSet" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="plateSpacingSet" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="lineSpacingSet" serializeAs="String">
                <value>0.14</value>
            </setting>
            <setting name="charSpacingSet" serializeAs="String">
                <value>0.11</value>
            </setting>
        </DUNameplateGUI.Properties.Settings>
    </userSettings>
</configuration>